/* remove loading orange border */
.generating {
    border: none;
}

/* add centering large elem_id */
#large span {
    font-size: 4em;
    text-align: center;
}

/* button color styles */
#red {
    background: red;
    color: white;
}

#green {
    background: green;
    color: white;
}

#blue {
    background: blue;
    color: white;
}

#emerald {
    background: #2ecc71;
}

#lime {
    background: lime;
}

#sky {
    background: skyblue;
}

#violet {
    background: violet;
}