/* remove loading orange border */
.generating {
    border: none;
}

/* add centering large elem_id */
#large span {
    font-size: 4em;
    text-align: center;
}

/* button color styles */
#red {
    background: red;
    color: white;
}

#green {
    background: green;
    color: white;
}

#blue {
    background: blue;
    color: white;
}

#seafoam {
    background: #4169E1;
    color: white;
}

#lime {
    background: lime;
}

#skyblue {
    background: skyblue;
}

#violet {
    background: violet;
}